[submodule "themes/m10c"]
    path = themes/m10c
    url = https://github.com/era/m10c.git

[submodule "themes/webmonetization"]
	path = themes/webmonetization
	url = https://github.com/era/hugo-webmonetization-component.git
